:root, [data-theme=light] {
    --bg: #FAF7F2;
    --surface: #f3f1e8;
    --surface-alt: #F3EFE9;
    --border: #D9D3CB;
    --text-primary: #3E3A36;
    --text-secondary: #6F6963;
    --accent-primary: #D47A55;
    --accent-primary-hover: #C56C49;
    --accent-secondary: #E3A26A;
    --highlight: #F2CDA0;
    --success: #6E9F72;
    --warning: #D8A24A;
    --error: #C45B4D;

    --color-2forweb: rgb(8, 166, 92);

    --space-10: 0.8rem;
    --space-20: 1.2rem;
    --space-40: 2rem;
}

[data-theme=dark] {
    --bg: #1F1B18;
    --surface: #26221F;
    --surface-alt: #2E2925;
    --border: #4A443F;
    --text-primary: #EAE4DD;
    --text-secondary: #B8B1AA;
    --accent-primary: #D47A55;
    --accent-primary-hover: #E08A63;
    --accent-secondary: #E3A26A;
    --highlight: #A67C52;
    --success: #7BAF7E;
    --warning: #D8A24A;
    --error: #C45B4D;
}
